
.timg{
    height: 200px;
}
.rimg{
    height: 200px;
    width: 400px;
}
.mimg{
    height: 200px;
    
}
.th{
    font-size: 30px;
    color: black;
}
.rh{
    font-size: 30px;
    color: black;
}
.mh{
    font-size: 30px;
    color: black;
}